[project]
name = "ghga_connector"
version = "1.8.0"
description = "GHGA Connector - A CLI client application for interacting with the GHGA system."
dependencies = [
    "typer~=0.15",
    "crypt4gh>=1.6, <2",
    "ghga-service-commons[crypt]>=4.1.0",
    "hexkit[s3]>=5.1",
    "rich>=14.0, <15",
    "tenacity >=9.0.0, <10",
    "hishel>=0.1.1, < 0.2",
]


[project.urls]
Repository = "https://github.com/ghga-de/ghga-connector"

[project.scripts]
ghga-connector = "ghga_connector.__main__:run"

[tool.ruff]
target-version = "py310"

[tool.tox]
legacy_tox_ini = """
    [tox]
    env_list = py3{10,11,12}

    [gh-actions]
    python =
        3.10: py310
        3.11: py311
        3.12: py312

    [testenv]
    pass_env =
        TC_HOST
        DOCKER_HOST
    deps =
        --no-deps -r ./lock/requirements-dev.txt
    commands =
        py310: pip install --no-deps \
            backports.asyncio.runner==1.2.0 \
            exceptiongroup==1.3.0 \
            tomli==2.2.1
        pytest {posargs}
"""
