annotated-doc==0.0.4
    # via fastapi
annotated-types==0.7.0
    # via pydantic
anyio==4.12.1
    # via
    #   anysqlite
    #   hishel
    #   httpx
    #   starlette
    #   watchfiles
anysqlite==0.0.5
    # via hishel
babel==2.17.0
    # via jsonschema2md
bcrypt==5.0.0
    # via crypt4gh
boto3==1.42.24
    # via hexkit
botocore==1.42.24
    # via
    #   boto3
    #   hexkit
    #   s3transfer
casefy==1.1.0
    # via -r lock/requirements-dev-template.in
certifi==2026.1.4
    # via
    #   httpcore
    #   httpx
    #   requests
cffi==2.0.0
    # via
    #   cryptography
    #   pynacl
cfgv==3.5.0
    # via pre-commit
charset-normalizer==3.4.4
    # via requests
click==8.3.1
    # via
    #   -r lock/requirements-dev-template.in
    #   typer
    #   uvicorn
coverage==7.13.1
    # via pytest-cov
crypt4gh==1.7
    # via
    #   ghga-connector (pyproject.toml)
    #   ghga-service-commons
cryptography==46.0.3
    # via crypt4gh
distlib==0.4.0
    # via virtualenv
docker==7.1.0
    # via testcontainers
docopt==0.6.2
    # via crypt4gh
fastapi==0.120.4
    # via ghga-service-commons
filelock==3.20.2
    # via virtualenv
ghga-service-commons @ git+https://github.com/ghga-de/ghga-service-commons@47f35707d2822eaf9149fb21faa76bf10dc2ad31
    # via
    #   -r lock/requirements-dev.in
    #   ghga-connector (pyproject.toml)
h11==0.16.0
    # via
    #   httpcore
    #   uvicorn
hexkit==7.2.1
    # via
    #   ghga-connector (pyproject.toml)
    #   ghga-service-commons
hishel==0.1.5
    # via ghga-service-commons
httpcore==1.0.9
    # via httpx
httptools==0.7.1
    # via uvicorn
httpx==0.28.1
    # via
    #   -r lock/requirements-dev-template.in
    #   ghga-service-commons
    #   hishel
    #   pytest-httpx
identify==2.6.15
    # via pre-commit
idna==3.11
    # via
    #   anyio
    #   httpx
    #   requests
importlib-metadata==8.7.1
    # via opentelemetry-api
iniconfig==2.3.0
    # via pytest
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
jsonschema2md==1.7.0
    # via -r lock/requirements-dev-template.in
librt==0.7.7
    # via mypy
logot==1.5.1
    # via -r lock/requirements-dev-template.in
markdown==3.10
    # via jsonschema2md
markdown-it-py==4.0.0
    # via rich
mdurl==0.1.2
    # via markdown-it-py
msgpack==1.1.2
    # via hishel
mypy==1.19.1
    # via -r lock/requirements-dev-template.in
mypy-extensions==1.1.0
    # via
    #   -r lock/requirements-dev-template.in
    #   mypy
nodeenv==1.10.0
    # via pre-commit
opentelemetry-api==1.39.1
    # via hexkit
packaging==25.0
    # via pytest
pathspec==1.0.2
    # via mypy
platformdirs==4.5.1
    # via virtualenv
pluggy==1.6.0
    # via
    #   pytest
    #   pytest-cov
pre-commit==4.5.1
    # via -r lock/requirements-dev-template.in
pycparser==2.23
    # via cffi
pydantic==2.12.5
    # via
    #   fastapi
    #   ghga-service-commons
    #   hexkit
    #   pydantic-settings
pydantic-core==2.41.5
    # via pydantic
pydantic-settings==2.12.0
    # via hexkit
pygments==2.19.2
    # via
    #   pytest
    #   rich
pynacl==1.6.2
    # via
    #   crypt4gh
    #   ghga-service-commons
pytest==9.0.2
    # via
    #   -r lock/requirements-dev-template.in
    #   pytest-asyncio
    #   pytest-cov
    #   pytest-httpx
pytest-asyncio==1.3.0
    # via -r lock/requirements-dev-template.in
pytest-cov==7.0.0
    # via -r lock/requirements-dev-template.in
pytest-httpx==0.36.0
    # via -r lock/requirements-dev-template.in
python-dateutil==2.9.0.post0
    # via botocore
python-dotenv==1.2.1
    # via
    #   pydantic-settings
    #   testcontainers
    #   uvicorn
pyyaml==6.0.3
    # via
    #   crypt4gh
    #   hexkit
    #   jsonschema2md
    #   pre-commit
    #   uvicorn
requests==2.32.5
    # via
    #   -r lock/requirements-dev-template.in
    #   docker
rich==14.2.0
    # via
    #   ghga-connector (pyproject.toml)
    #   typer
ruff==0.14.10
    # via -r lock/requirements-dev-template.in
s3transfer==0.16.0
    # via boto3
setuptools==80.9.0
    # via -r lock/requirements-dev-template.in
shellingham==1.5.4
    # via typer
six==1.17.0
    # via python-dateutil
snakeviz==2.2.2
    # via -r lock/requirements-dev-template.in
starlette==0.49.3
    # via fastapi
tenacity==9.1.2
    # via ghga-service-commons
testcontainers==4.14.0
    # via -r lock/requirements-dev.in
tomli==2.3.0
    # via -r lock/requirements-dev-template.in
tomli-w==1.2.0
    # via -r lock/requirements-dev-template.in
tornado==6.5.4
    # via snakeviz
typer==0.21.1
    # via
    #   -r lock/requirements-dev-template.in
    #   ghga-connector (pyproject.toml)
typing-extensions==4.15.0
    # via
    #   fastapi
    #   hishel
    #   mypy
    #   opentelemetry-api
    #   pydantic
    #   pydantic-core
    #   testcontainers
    #   typer
    #   typing-inspection
typing-inspection==0.4.2
    # via
    #   pydantic
    #   pydantic-settings
urllib3==2.6.3
    # via
    #   -r lock/requirements-dev-template.in
    #   botocore
    #   docker
    #   requests
    #   testcontainers
uv==0.9.22
    # via -r lock/requirements-dev-template.in
uvicorn==0.38.0
    # via ghga-service-commons
uvloop==0.22.1
    # via uvicorn
virtualenv==20.36.0
    # via pre-commit
watchfiles==1.1.1
    # via uvicorn
websockets==15.0.1
    # via uvicorn
wrapt==2.0.1
    # via testcontainers
zipp==3.23.0
    # via importlib-metadata
