annotated-types==0.7.0
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic
anyio==4.12.1
    # via
    #   -c lock/requirements-dev.txt
    #   anysqlite
    #   hishel
    #   httpx
anysqlite==0.0.5
    # via
    #   -c lock/requirements-dev.txt
    #   hishel
bcrypt==5.0.0
    # via
    #   -c lock/requirements-dev.txt
    #   crypt4gh
boto3==1.42.24
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
botocore==1.42.24
    # via
    #   -c lock/requirements-dev.txt
    #   boto3
    #   hexkit
    #   s3transfer
certifi==2026.1.4
    # via
    #   -c lock/requirements-dev.txt
    #   httpcore
    #   httpx
cffi==2.0.0
    # via
    #   -c lock/requirements-dev.txt
    #   cryptography
    #   pynacl
click==8.3.1
    # via
    #   -c lock/requirements-dev.txt
    #   typer
crypt4gh==1.7
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-connector (pyproject.toml)
    #   ghga-service-commons
cryptography==46.0.3
    # via
    #   -c lock/requirements-dev.txt
    #   crypt4gh
docopt==0.6.2
    # via
    #   -c lock/requirements-dev.txt
    #   crypt4gh
ghga-service-commons @ git+https://github.com/ghga-de/ghga-service-commons@47f35707d2822eaf9149fb21faa76bf10dc2ad31
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-connector (pyproject.toml)
h11==0.16.0
    # via
    #   -c lock/requirements-dev.txt
    #   httpcore
hexkit==7.2.1
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-connector (pyproject.toml)
hishel==0.1.5
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-service-commons
httpcore==1.0.9
    # via
    #   -c lock/requirements-dev.txt
    #   httpx
httpx==0.28.1
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-service-commons
    #   hishel
idna==3.11
    # via
    #   -c lock/requirements-dev.txt
    #   anyio
    #   httpx
importlib-metadata==8.7.1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-api
jmespath==1.0.1
    # via
    #   -c lock/requirements-dev.txt
    #   boto3
    #   botocore
markdown-it-py==4.0.0
    # via
    #   -c lock/requirements-dev.txt
    #   rich
mdurl==0.1.2
    # via
    #   -c lock/requirements-dev.txt
    #   markdown-it-py
msgpack==1.1.2
    # via
    #   -c lock/requirements-dev.txt
    #   hishel
opentelemetry-api==1.39.1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
pycparser==2.23
    # via
    #   -c lock/requirements-dev.txt
    #   cffi
pydantic==2.12.5
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-service-commons
    #   hexkit
    #   pydantic-settings
pydantic-core==2.41.5
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic
pydantic-settings==2.12.0
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
pygments==2.19.2
    # via
    #   -c lock/requirements-dev.txt
    #   rich
pynacl==1.6.2
    # via
    #   -c lock/requirements-dev.txt
    #   crypt4gh
    #   ghga-service-commons
python-dateutil==2.9.0.post0
    # via
    #   -c lock/requirements-dev.txt
    #   botocore
python-dotenv==1.2.1
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic-settings
pyyaml==6.0.3
    # via
    #   -c lock/requirements-dev.txt
    #   crypt4gh
    #   hexkit
rich==14.2.0
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-connector (pyproject.toml)
    #   typer
s3transfer==0.16.0
    # via
    #   -c lock/requirements-dev.txt
    #   boto3
shellingham==1.5.4
    # via
    #   -c lock/requirements-dev.txt
    #   typer
six==1.17.0
    # via
    #   -c lock/requirements-dev.txt
    #   python-dateutil
tenacity==9.1.2
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-service-commons
typer==0.21.1
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-connector (pyproject.toml)
typing-extensions==4.15.0
    # via
    #   -c lock/requirements-dev.txt
    #   hishel
    #   opentelemetry-api
    #   pydantic
    #   pydantic-core
    #   typer
    #   typing-inspection
typing-inspection==0.4.2
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic
    #   pydantic-settings
urllib3==2.6.3
    # via
    #   -c lock/requirements-dev.txt
    #   botocore
zipp==3.23.0
    # via
    #   -c lock/requirements-dev.txt
    #   importlib-metadata
